@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin-inline: 10%;
  margin-top: 10%;
  background-color: white;
}
#aggiungiAllaTuaLista {
  border: none;
  padding: 1rem;
  border-radius: 0 45%;
}

#btnAdd {
  border: none;
  border-radius: 100%;
  padding: 1rem;
  color: purple;
  background-color: rgb(206, 178, 187);
}
.sfondo-lista {
  background-color: lightcoral;
  width: max-content;
  padding: 3rem;
  border-radius: 20%;
}

#lista {
  color: purple;
}

.bottone-lista {
  border: none;
  border-radius: 100%;
  padding: 0.8rem;
  margin-inline: 0.5rem;
  background-color: #8000808f;
  color: white;
}

li {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}
